<div class="row">
  <div class="col-xs-12 col-gutter-lr text-right margin-t-3-xs margin-t-0-sm"></div>
  <div class="col-xs-12 col-sm-9 text-center-xs text-left-sm">
    <h1>Profile Update</h1>
    <p>
      <form class="form profile-form">
        <div class="form-group">
          <input class="form-control" type="text" value="{{id}}" id="id" name="id" readonly>
        </div>
        <div class="form-group">
          <label for="username">Username:</label>
          <input class="form-control" type="text" value="{{name}}" id="name" name="name" readonly>
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input class="form-control" type="text" value="{{email}}" id="email" name="email" />
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input class="form-control" type="password" id="password" name="password" />
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-sm"><i class="far fa-save"> Submit</i></button>
          <a class="btn btn-outline-primary btn-sm my-2 my-sm-0" href="/" role="button">Cancel</a>
        </div>
      </form>
    </p>
  </div>
</div>
<script src="./js/profile.js"></script>
