<div class="row">
  <div class="col-xs-12 col-gutter-lr text-right margin-t-3-xs margin-t-0-sm"></div>
  <div class="col-xs-12 col-sm-9 text-center-xs text-left-sm">
    <h1>Profile Update</h1>
    <p>
      <form class="form">
        <div class="form-group">
          <label for="username">Username:</label>
          <input class="form-control" type="text" value="{{name}}" id="name" name="name" readonly>
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input class="form-control" type="text" id="email" name="email" />
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input class="form-control" type="password" id="password" name="password" />
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </p>
  </div>
</div>
<script src="./js/profile.js"></script>
